/* Max Cohn */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
    font-size: 120%;
    margin: 0px auto;
    min-height: 20px;
    overflow:auto;
    width: fit-content;
    height: fit-content;
    max-width: calc(100% - 30px * 2);
    max-height: calc(100vh - 280px - 20px - 20vh - 20px * 4 - 10px*2);
}
/*
 * Styling for the input to have cute border and coloring
 * fixed width and margin are used to calculate size of table
 * */
fieldset {
    border-radius: 2px;
    border-color: black;
    border-style: dotted;
    width: 280px;
    background-color:beige;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

legend {
    color:darkolivegreen;
}

#inputs {
    border-collapse:separate;
    border-spacing: 10px;
}

label {
    float:left;
}


/*
 * give the inputs a nice round look with right align
 * */
input {
    text-align:right;
    float:right;
    border-radius: 10px;
    border-width: 1px;
    padding:2px;
    padding-right: 10px;
    width: 20%;
}

/*
 * box that holds the results table,
 * max height uses calc to fill the rest of the page.
 * overflow auto allows for scrolling
 * */

#results {
    border: 2px black;
    border-style:dotted;
    text-align: center;
    padding: 2px;
    margin: auto;
}

#results > tbody > tr > td {
    padding:3px;
}

/*
 * stlying for the headings
 * */
th, #results > tbody > tr > td:first-child{
    background-color:lightyellow;
    font-weight: normal;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px 2px 2px 1px;
}

/*
 * alternating coloring for the inner columns
 * */
#results > tbody > tr:not(:first-child) > td:not(:first-child):nth-child(2n+1) {
    background-color:lightcoral;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
}
#results > tbody > tr:not(:first-child) > td:not(:first-child):nth-child(2n) {
    background-color:lightsalmon;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
}

/*
 * hover over the inner contents to highlight
 * with a nice color and styling
 * */
#results > tbody > tr:not(:first-child) > td:not(:first-child):hover {
    background-color:lightgreen;
    border-width: 2px 0px 0px 2px;
}

/*
 * positioning for the table headers to
 * be over the top. for some reason flipping
 * the table upside down broke so dont do that
 */
.header-top {
    position:sticky;
    top:0px;
}
.header-side {
    position:sticky;
    left:0px;
}
/*
 * error text from validator
 */
.error {
    color:red;
}
/*
 * slider stylings
 */
.slider {
    margin: 20px auto 10px auto;
}
/* 
 * tab stylings
 */
#tab-window {
    width:fit-content;
    height:fit-content;
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
    margin: 0px auto;
    background-color: #f5f5da; 
    max-width: 80%;
    max-height: calc(100% - 280px - 20px - 10%);
}

/* header bar */
.ui-widget-header {
    margin: 0px 20%;
    border:0;
    background-color: #f5f5da;
    width:100%;
}
/*inside darker window*/
#tab-window .ui-widget-content {
    background-color: #bfbf8a;
    border-radius: 5px;
    align-content: center;
    width: 100%;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: #e8e8b0;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: #bfbf8a;
}
/* sliders and buttons */
.ui-tabs-anchor {
    color: black;
}
/* tab checkbox stylings */
input[type=checkbox] {
    appearance: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 5px;
    height: 15px;
    background-color: #f5f5da;
}

input[type=checkbox]:hover {
    appearance: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 5px;
    height: 15px;
    background-color: #e8e8b0;
}

input[type=checkbox]:checked {
    appearance: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 5px;
    height: 15px;
    background-color: lightcoral;
}

/* styling for bottom control panel*/
#control-panel {
    margin: 20px auto 10px auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.button {
    border-style: dashed;
    border-radius: 5px;
    border-width: 1px;
    padding: 4px;
    margin: 10px 10px 0px 10px;
    width: auto;
    float:none;
    background-color: #e8e8b0;
}
.button:hover {
    background-color: #f5f5c9;
}
.button:active {
    background-color: #bfbf8a;
}

